@use "../abstracts/tokens";

.accordion {
    max-width: 940px;
    margin-bottom: tokens.$space-lg;
}

.accordion__trigger h2, 
.accordion__content h3 {
    font-size: tokens.$font-size-heading-md;
    font-weight: 500;
}

.accordion__content p {
    font-size: tokens.$font-size-body;
    line-height: 1.5;
}

.accordion__trigger {
    all: unset;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: calc(tokens.$space-sm);
    padding-inline: tokens.$space-md;
    background-color: tokens.$color-light-pink;
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;

}

.accordion__trigger h2 {
    margin: 0;
}

.accordion__content {
    display: flex;
    padding-block-end: tokens.$space-md;
}

[data-state="open"] {
    margin-bottom: tokens.$space-md;
    overflow: hidden;
}


