@use "../abstracts/tokens";

.button {
    background: tokens.$color-accent;
    color: white;
    border: none;
    padding: tokens.$space-sm tokens.$space-md;
    border-radius: 0.25rem;
    cursor: pointer;
  
    &:hover {
      opacity: 0.9;
    }
  }
  