@use "../abstracts/tokens";

.button {
    background: tokens.$color-bg;
    color: tokens.$color-text;
    font-size: tokens.$font-size-button;
    border: solid 1px black;
    padding: tokens.$space-sm tokens.$space-md;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: tokens.$space-xs;
    width: auto;
  
    &:hover {
      opacity: 0.9;
    }
  }

  .button__label {/*placeholder for label styling*/}

  .button__icon {
    display: inline-flex;
    align-items: center;
  }