.overlay {
    inset:0;
    position: fixed;
    z-index: 9;
    background: rgba(0,0,0,0.5);
}

.content {
    position: fixed;
    top: 50%;
    left: 50%;
    background: white;
    padding: 20px;
    transform: translate(-50%, -50%);
    inline-size: 70vw;
    max-height: 85vh; 
    overflow: auto;
    z-index: 10;
}

.summary {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
}

.summary dt {
    font-weight: 600;
}

.summary dd {
    margin:0;
}