@use "../../../../../styles/abstracts/tokens";

.form {
  display: flex;
  flex-direction: column;
  gap: tokens.$space-md;
}


.field {
  display: flex;
  flex-direction: column;
  gap: tokens.$space-xs;

  .topLabel {
    font-size: tokens.$font-size-body;
    display: block;
  }

  input,
  textarea {
    border: 1px solid tokens.$color-text;
    border-radius: 0;
    font-size: tokens.$font-size-body;
  }
}

.inputWrap {
  position: relative;
}

.input {
  width: 100%;
  box-sizing: border-box;
  block-size: 3rem;
  padding: 1.45rem tokens.$space-md 0.25rem;
  line-height: 1.1;
}

.floatingHint {
  position: absolute;
  left: tokens.$space-md;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;

  transition: 
    transform 200ms ease,
    font-size 200ms ease,
    opacity 200ms ease;

  opacity: 0.5;
}

.input:focus + .floatingHint,
.input:not(:placeholder-shown) ~ .floatingHint {
  transform: translateY(-130%);
  font-size: tokens.$font-size-xs;
  opacity: 0.4;
}

.field .error {
  font-size: tokens.$font-size-xs;
}

.error {
  color: tokens.$color-error-border;
}

.field .inputError {
  border-color: tokens.$color-error-border;
  background-color: #fde9e9;
}

@media (prefers-reduced-motion: reduce) {
  .floatingHint {
    transition: none !important;
  }
}