@use "../../../../../styles/abstracts/tokens";

.pickerWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: tokens.$space-sm;
  width: 100%;
}

.imageButton {
  padding: tokens.$space-md;
  cursor: pointer;
  border: none;
  background: transparent;
 
}

.imageButtonSelected {
  @extend .imageButton; 
  border: 1px solid tokens.$color-accent;
}

.thumbnail {
  display: block;
  height: auto;
}
