@mixin respond-to($breakpoint) {
    @if $breakpoint == "sm" {
      @media (min-width: 480px) { @content; }
    } @else if $breakpoint == "md" {
      @media (min-width: 768px) { @content; }
    } @else if $breakpoint == "lg" {
      @media (min-width: 1024px) { @content; }
    }
  }
  