@use "../abstracts/tokens";

.u-visuallyHidden {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
  }
  
p.u-errorText {
  color: tokens.$color-error-border;
  font-size: tokens.$font-size-xs;
  line-height: 4px;
  margin-bottom: tokens.$space-lg;
}