@use "../../../../../styles/abstracts/tokens";


.wrapper {
  padding: tokens.$space-md;
  font-size: 0.875rem;
  color: #333;
  background-color: tokens.$color-green-teal;
  display: flex;
  flex-direction: column;
  gap: tokens.$space-sm;
}

.label {
  font-weight: 600;
  margin-right: 4px;
}

.name {
  font-weight: 600;
  font-size: tokens.$font-size-body;
}

.checkIcon {
  color: tokens.$color-valid;
  margin-left: tokens.$space-sm;
}
