:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.AccordionTrigger {
  cursor: pointer;
}

.AccordionContent {
  overflow: hidden;
  transition: height 200ms ease, opacity 200ms ease;
  opacity: 0;
}

.AccordionContent[data-state="open"] {
  opacity: 1;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
