@use "../../../styles/abstracts/tokens";

.stepPrimaryButton {
    display: flex;
    justify-content: flex-end;
    margin-top: tokens.$space-md;
}

.stepPrimaryButton .button {
  width: auto;
  flex: 0 0 auto; 
}

.arrow {
    color: tokens.$color-text;
    transform: translateX(0);
    transition: transform 260ms;
    will-change: transform;
}

.stepPrimaryButton:hover .arrow {
    transform: translateX(4px);
    transition: transform 180ms ease-out;
}
