@use "../../../../styles/abstracts/tokens";

.section {
    padding-block: tokens.$space-md;
    
}
.container {
    padding: 25px;
    border: 1px solid #c29a9a;
    border-radius: 16px;
}

.box {
    padding: tokens.$space-md;
    border: 1px solid #a87474;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: tokens.$space-md;
    cursor: pointer;
}

.box:hover {
    border: 1px solid #d3f1e8;
}

.chevron {
    flex-shrink: 0;
}

.chevronRight {
    transform: rotate(-90deg);
    opacity: 0.6;
}

.dropdownTriggerRight {
    justify-content: flex-end;
   margin-left: auto;
}

.dropdownContent {
    padding-block: tokens.$space-sm;
     width: 100%;
}
