@use "../../../../styles/abstracts/tokens";

.section {
    padding-block: tokens.$space-md;
}

.container {
    padding: 25px;
    border: 1px solid #c29a9a;
    border-radius: 16px;
}

.boxContent:hover {
    border: 1px solid #d3f1e8;
}

.chevron {
    flex-shrink: 0;
}

.chevronRight {
    transform: rotate(-90deg);
    opacity: 0.6;
}

.dropdownTriggerRight {
    justify-content: flex-end;
   margin-left: auto;
}

.dropdownContent {
    padding-block: tokens.$space-sm;
     inline-size: 100%;
}

.boxContent { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    inline-size: 100%;
    border: 1px solid #a87474;
    border-radius: 16px;
    margin-bottom: tokens.$space-md;
    padding: tokens.$space-md;
    cursor: pointer;
}

input:checked + .boxContent { 
    border: 2px solid #a87474;
    background: tokens.$color-green-teal;
}
input:focus-visible + .boxContent { 
    outline: 2px solid currentColor;
    outline-offset: 2px;
}
