@use "../../../../../styles/abstracts/tokens";



.purposeTitle {
    font-size: tokens.$font-size-heading-md;
    margin-bottom: tokens.$space-xs;
}

.purposeIntro {
    margin-bottom: tokens.$space-sm;
    font-size: tokens.$font-size-body;
}

.purposeControl {
    font-size: tokens.$font-size-body;
    padding-block: tokens.$space-md;
}

.purposeContent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: tokens.$space-lg;
    row-gap: tokens.$space-lg;
    margin-top: tokens.$space-md;
    border: 0;
    padding: tokens.$space-sm;
    margin: 0;
}

.purposeOption {
    display: flex;
    align-items: center;
    gap: tokens.$space-xs;
}

.purposeOption input[type="radio"]{
    appearance: none;
    -webkit-appearance: none;
    width: 20px;          
    height: 20px;
    border: 1px solid tokens.$color-text; 
    border-radius: 50%;
    display: grid;
    place-content: center;
    margin: 0;  
}

.purposeOption input[type="radio"]::before {
    content: "";
    width: 10px;          
    height: 10px;
    border-radius: 50%;
    transform: scale(0);  
    transition: transform 120ms ease-in-out;
    background-color: tokens.$color-accent; 
}

.purposeOption input[type="radio"]:checked::before {
    transform: scale(1);  
}

.purposeOptionDefault {
    grid-column: 1 / -1;
    width: 100%;
    margin-block: tokens.$space-md;
}
