@use "../../../styles/abstracts/tokens";

.layout {
  max-width: 620px;
  margin: 0 auto;

}

.hero {
  margin-bottom: tokens.$space-lg;
}

.steps {
  //  padding mm
}

.step {
  // ev. border-bottom, padding mellan steg
}
