@use "../../../../styles/abstracts/tokens";

.section {
    padding-block: tokens.$space-md;
}

.amount {
    margin-bottom: tokens.$space-md;
}

.legend {
    font-weight: 500;
    margin-bottom: tokens.$space-xs;
}

.options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: tokens.$space-sm;
}

.option {
    border: 1px solid tokens.$color-text;
    font-size: tokens.$font-size-body;
    border-radius: 0;
    padding: tokens.$space-sm tokens.$space-md;
    background-color: tokens.$color-bg;
    cursor: pointer;
}

.optionSelected {
    background-color: tokens.$color-accent;
}

.customAmount {
    margin-top: tokens.$space-md;
}

.customLabel {
    display: block;
    margin-bottom: tokens.$space-xs;
}

.customInputRow {
    display: flex;
    align-items: center;
    gap: tokens.$space-xs;
}

.customInput {
    flex: 1;
    padding: tokens.$space-sm tokens.$space-sm;
    border-radius: 0;
    border: 1px solid tokens.$color-text;
}
.inputError {
    background-color: tokens.$color-error;
    border: 1px solid tokens.$color-error-border;
}

.customAmount .error {
    color: tokens.$color-error-border;
    font-size: tokens.$font-size-xs;
}


.information {
    background-color: tokens.$color-beige;
    padding-left: tokens.$space-md;
    padding-top: tokens.$space-sm;
    padding-right: tokens.$space-md;
    padding-bottom: tokens.$space-md;
}

.purpose {
    margin-top: tokens.$space-lg;
}

.purposeTitle {
    font-size: tokens.$font-size-heading-md;
    margin-bottom: tokens.$space-xs;
}

.purposeIntro {
    margin-bottom: tokens.$space-sm;
    font-size: tokens.$font-size-body;
}

.purposeControl {
    font-size: tokens.$font-size-body;
    padding-block: tokens.$space-md;
}

.purposeContent {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        column-gap: tokens.$space-lg;
        row-gap: tokens.$space-lg;
        margin-top: tokens.$space-md;
        border: 0;
        padding:0;
        margin: 0;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.purposeOption {
    display: flex;
    align-items: center;
    gap: tokens.$space-xs;
}

.purposeOption input[type="radio"]{
appearance: none;
  -webkit-appearance: none;
  width: 20px;          
  height: 20px;
  border: 1px solid tokens.$color-text; 
  border-radius: 50%;
  display: grid;
  place-content: center;
  margin: 0;  
}

.purposeOption input[type="radio"]::before {
  content: "";
  width: 10px;          
  height: 10px;
  border-radius: 50%;
  transform: scale(0);  
  transition: transform 120ms ease-in-out;
  background-color: tokens.$color-accent; 
}

.purposeOption input[type="radio"]:checked::before {
  transform: scale(1);  
}

.purposeOptionDefault {
    grid-column: 1 / -1;
    width: 100%;
    margin-block: tokens.$space-md;
}


