@use "../../../../../styles/abstracts/tokens";

.amount {
    display: flex;
    flex-direction: column;
    gap: tokens.$space-md;
}

.options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: tokens.$space-md;
}

.option {
    border: 1px solid tokens.$color-text;
    font-size: tokens.$font-size-body;
    border-radius: 0;
    padding: 0.8rem tokens.$space-md;
    background-color: tokens.$color-bg;
    cursor: pointer;

    transition: 
        background-color 300ms ease-out,
        transform 180ms ease-out;
}

.optionSelected {
    background-color: tokens.$color-accent;
}

.customAmount {
    display: flex;
    flex-direction: column;
    gap: tokens.$space-xs;
}

.customAmount[hidden] {
  display: none;
}

.customLabel {
    display: block;
}

.customInputRow {
    display: flex;
    align-items: center;
    gap: tokens.$space-xs;
}

.customInput {
    flex: 1;
    padding: tokens.$space-sm tokens.$space-sm;
    block-size: 2.75rem;
    border-radius: 0;
    border: 1px solid tokens.$color-text;
}
.inputError {
    background-color: tokens.$color-error;
    border: 1px solid tokens.$color-error-border;
}

.customAmount .error {
    color: tokens.$color-error-border;
    font-size: tokens.$font-size-xs;
}