@use "../../../../../styles/abstracts/tokens";

.amount {
    display: flex;
    flex-direction: column;
    gap: tokens.$space-md;
}

.options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: tokens.$space-md;
}

.option {
    border: 1px solid tokens.$color-text;
    font-size: tokens.$font-size-body;
    border-radius: 0;
    padding: 0.8rem tokens.$space-md;
    background-color: tokens.$color-bg;
    cursor: pointer;

    transition: 
        background-color 300ms ease-out,
        transform 180ms ease-out;
}

.optionSelected {
    background-color: tokens.$color-accent;
}

.customAmount {
    display: flex;
    flex-direction: column;
    gap: tokens.$space-xs;
}

.customAmount[hidden] {
  display: none;
}

.customLabel {
    display: block;
}

.customInputRow {
    position:relative;
}

.customInput {
    inline-size: 100%;
    box-sizing: border-box;
    padding: 1.45rem tokens.$space-md 0.25rem;
    block-size: 3rem;
    border-radius: 0;
    border: 1px solid tokens.$color-text;
    font-size: tokens.$font-size-body;
}

.floatingHint {
    position: absolute;
    left: tokens.$space-md;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;

    transition: 
        transform 200ms ease,
        font-size 200ms ease,
        opacity 200ms ease;

    opacity: 0.5;
}

.customInput:focus + .floatingHint,
.customInput:not(:placeholder-shown) ~ .floatingHint {
    transform: translateY(-130%);
    font-size: tokens.$font-size-xs;
    opacity: 0.4;
}
.inputError {
    background-color: tokens.$color-error;
    border: 1px solid tokens.$color-error-border;
}

.customAmount .error {
    color: tokens.$color-error-border;
    font-size: tokens.$font-size-xs;
}

@media (prefers-reduced-motion: reduce) {
  .option {
    transition: none !important;
    transform: none !important;
  }
}

@media (prefers-reduced-motion: reduce) {
  .floatingHint {
    transition: none !important;
  }
}