@use "../../../../styles/abstracts/tokens";

.title {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
}

.copy {
  font-size: 1rem;
  line-height: 1.5;
}

.introBlock {
  display: flex;
  flex-direction: column;
  gap: tokens.$space-sm;
}