/* Uppdatera med tokens mm */

@use "../../../../styles/abstracts/tokens";

.section {
  display: grid;
  gap: tokens.$space-md;
  padding: tokens.$space-md 0;
}

.title {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
}

.copy {
  font-size: 1rem;
  line-height: 1.5;
}
