
@use "../abstracts/tokens";


body {
    font-family: var(--font-inter), system-ui, sans-serif;
    font-size: 16px;
    color: tokens.$color-text;
    background-color: tokens.$color-bg;
    line-height: 1.5;
  }
  
  a {
    color: tokens.$color-accent;
    text-decoration: none;
  
    &:hover {
      text-decoration: underline;
    }
  }
  