
@use "../abstracts/tokens";


body {
    font-family: var(--font-inter), system-ui, sans-serif;
    font-size: tokens.$font-size-body;
    color: tokens.$color-text;
    background-color: tokens.$color-bg;
    line-height: 1.5;
  }
  
  a {
    color: tokens.$color-accent;
    text-decoration: none;
  
    &:hover {
      text-decoration: underline;
    }
  }
  
  h1 {
    font-family: var(--font-inter), system-ui, sans-serif;
    font-size: tokens.$font-size-heading-hero;
    line-height: 3.5rem;
    font-weight: 400;
    margin-bottom: tokens.$space-md;

  }

  h2, h3 {
    font-family: var(--font-inter), system-ui, sans-serif;
    font-size: tokens.$font-size-heading-md;
    font-weight: 500;
    margin-bottom: tokens.$space-md;
  }

  h4 {
    font-family: var(--font-inter), system-ui, sans-serif;
    font-size: tokens.$font-size-label;
    font-weight: 500;
    margin-bottom: tokens.$space-sm;

  }

  .hero__ingress {
    font-size: tokens.$font-size-body-lg;
  }